* {margin: 0;
   padding: 0;
   font-size: 30px;
    }


body {
    background-color: #744700;  
}

header {background-color: bisque;
display: flex;
justify-content:space-around;
   padding:12px 0px;
}

main  {  
    margin: 10px 100px;

}

.ingredientes  {
    padding: 10px 20px;
}

.modo-de-preparo  {
    padding: 10px 20px;
}


.titulo-lema {
    list-style-type: none;
    font-size: 20px;

}

 .receita-foto {
 width: 20%;    
 }

 .links-do-topo-item  {    
    display: inline-block;
    margin: 0 16px;
    font-size: 20px;
    

}

.lema-do-site  {
font-size: 20px;

}

.titulo-cabecalho {
    font-size: 50px;

}

h2  {
    font-size: 40px;

}

.item-modo-de-preparo  {
padding: 0 0 30px 0;

}

footer  {
     background-color: #ffDAE9;
     text-align: center;

}

footer p  {
    font-size: 20px;

}